html, body {font-size: 85%; margin: 0 5px; }
.icon-image {display: inline;}
h5.tabdescription { margin: 10px 0; } 
h4.tkaction { margin-top: 10px; text-align: center;}
#backToGallery{ margin:0px;}